<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span>
    <a [routerLink]="['/']" routerLinkActive="router-link-active">{{ title }}</a>
  </span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    @if (menu) {
<ul fxLayout fxLayoutGap="20px" class="navigation-items">
      @for (menuItem of menu.items; track menuItem) {
<li>
        <a [href]="menuItem.link" target="_new">
          <span class="label">{{ menuItem.label }}</span>
        </a>
      </li>
}
    </ul>
}
  </div>
</mat-toolbar>
